#nftCard{
    padding: 150px 0;
    background-color: #111111;
}

.img{
    width: 600px;
    height: 590px;
    position: relative;
    
}


img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}